@font-face {
    font-family: AlfaSlabOne;
    local: ("AlfaSlabOne-Regular");
    src: url(./fonts/AlfaSlabOne-Regular.ttf);
}

body {
	background: linear-gradient(-45deg, #5BCEFA, #F5A9B8, #FFFFFF, #F5A9B8, #5BCEFA);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

.wip {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    font-family: AlfaSlabOne;
    color:#ff4eaf;
	-webkit-text-stroke-width: 0.1px;
	-webkit-text-stroke-color: white;
}

p {
	margin: 0;
	font-size: 4em;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: #ff0000; /* Can be changed in the live sample */
  }

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}